body {
    background: pink;
}

section {
    width: 60%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

td {
    width: 2em;
    height: 2em;
}

.yellow {
    background: yellow;
}

.gray {
    background: gray;
}

.white {
    background: white;
}

.black {
    background: black
}

.blue {
    background: blue;
}